# Script for autostarting the Pricer Rmeote Control production test web server
# Copy this file to /etc/systemd/system
# User must be set to root to allow the web server to run on port 80

[Unit]
Description=Pricer Remote Control production test server
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u rheaserver.py
WorkingDirectory=/home/pi/rheaserver
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
